# infer
infer-out/

# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
#React Native
node_modules/
#package-lock.json
.expo
.iml
.vscode
yarn.lock
yarn-error.log

# CocoaPods
Pods/
Podfile.lock
Podfile.zip

GoogleService-Info.js
GoogleService-Info.plist

node_modules.zip
ios/pods.zip
android/.project
android/.settings
android/app/.classpath
android/app/.settings
android/app/.project
android/java_pid*
android/.gradle
