export const APP_NAME = '';

export const REMOTE_REST_API_SERVER = '';
export const LOCAL_REST_API_SERVER = '';

export const FACEBOOK_APP_ID = '';

// Register app on the Firebase and copy values from the GoogleService-Info.plist file after that here
export const FIREBASE_API_KEY = ''
export const FIREBASE_AUTH_DOMAIN = ''
export const FIREBASE_DATABASE_URL = ''
export const FIREBASE_PROJECT_ID = ''
export const FIREBASE_STORAGE_BUCKET = ''
export const FIREBASE_MESSAGING_SENDER_ID = ''
